<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votre Profil</title>
    <style>
        .profile-container {
            text-align: center;
            margin-top: 20px;
        }

        .profile-image {
            border-radius: 50%;
            width: 150px;
            height: 150px;
            object-fit: cover;
        }

        .profile-info {
            margin-top: 20px;
        }

        .profile-info p {
            font-size: 18px;
            margin: 10px 0;
            color: blue;
        }
    </style>
</head>
<body>
    <div class="profile-container">
        <h1>Votre Profil</h1>
        <img class="profile-image"  alt="Photo de profil">
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="photo" accept="image/*">
            <button type="submit">Mettre à jour la photo</button>
        </form>
        <div class="profile-info">
            <p><strong>Nom :</strong> {{ nom }}</p>
            <p><strong>Email :</strong> {{ email }}</p>
            <p><strong>Contact :</strong> {{ contact }}</p>
        </div>
        <a href="{{url_for('modifier_profil')}}">modifier</a>
    </div>
</body>
</html>
